<div>
    this is the search workout page
    we will nav here and have a text input or something to search workouts.
    with the workouts we want to load the circuits and also the exercises upon findeing the workout
    display this info in a tree for?
    workout
        circuits
            exercises
</div>
